:root {
  --main-bg: hsl(233, 47%, 7%);
  --card-bg: hsl(244, 38%, 16%);
  --accent-violet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --main-paragraph: hsla(0, 0%, 100%, 0.75);
  --stat-headings: hsla(0, 0%, 100%, 0.6);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--main-bg);
  color: var(--white);
  font-family: 'Inter', sans-serif;
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 1.5rem;
}

img {
  display: block;
  max-width: 100%;
}

.card {
  max-width: 1110px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--card-bg);
  box-shadow: 0px 20px 20px -10px rgba(23, 25, 41, 0.203087);
}

.card__body {
  text-align: center;
  padding: 2.5rem 2rem 2rem;
  order: 1;
}

.card__image {
  flex-shrink: 0;
}

.card__image img {
  width: 100%;
  max-height: 240px;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}

.card__title {
  font-size: 1.75rem;
  line-height: 2rem;
}

.card__text {
  margin-top: 1rem;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: var(--main-paragraph);
}

.hightlight {
  color: var(--accent-violet);
}

.card__stats {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.stat__num {
  font-size: 1.5rem;
  margin-bottom: 0.125rem;
  font-weight: 700;
}

.stat__heading {
  font-family: 'Lexend Deca', sans-serif;
  color: var(--stat-headings);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  line-height: 1.5625rem;
}

@media (min-width: 1200px) {
  .card {
    flex-direction: row;
  }

  .card__body {
    order: 0;
    text-align: left;
    padding: 4.5rem 6rem 3.75rem 4.5rem;
  }

  .card__image img {
    max-height: 100%;
    border-radius: 0 8px 8px 0;
  }

  .card__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }

  .card__text {
    margin-top: 1.5rem;
    margin-right: 1.875rem;
  }

  .card__stats {
    margin-top: 4.5rem;
    flex-direction: row;
    gap: 3.875rem;
  }
}
